.center__component {
    text-align: center;
    padding-top: 100px;
    min-width: 565px;
    display: flex;
    flex-direction: column;
}

.rabbit {
    align-self: flex-end;
    flex: 0 0 auto;
    object-fit: contain;

}

.rabbit img {
    max-width: 270px;
    max-height: 365px;
}

.center__component h1 {
    flex: 1 0 auto;
    font-size: 3.5em;
}

.center__component p {
    flex: 1 0 auto;
    font-size: 1.3em;
    margin: 4%;
}