.center__component {
    text-align: center;
    padding-top: 100px;
    min-width: 565px;
    display: flex;
    flex-direction: column;
}

.rabbit {
    align-self: flex-end;
    flex: 0 0 auto;
    object-fit: contain;

}

.rabbit_img {
    max-width: 270px;
    max-height: 365px;
}

.text_center {
    flex: 1 0 auto;
    font-size: 3.5em;
}

.text_center_body {
    flex: 1 0 auto;
    font-size: 1.3em;
    margin: 4%;
}