.user__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.user__action a {
    margin: 0 33px;
    white-space: nowrap;
}

@media (max-width: 480px) {
    .is_active a {
        display: none;
    }
}