.sixth_screen_container {
    display: flex;
    flex-direction: column;
    height: 652px;
}

.sixth_screen_container h2 {
    font-size: 44px;
}

.text_center {
    text-align: center;
}

.card {
    max-width: 485px;
}

.card_container_six_screen {
    display: flex;
    justify-content: center;
}
