.logo_screen_container {
    max-width: 1440px;
    max-height: 151px;
    background-color: #6F1EAA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}