.third__screen__container {
    display: flex;
    flex-direction: column;
    height: 663px;
}

.third__screen__tittle {
    align-self: center;
    font-size: 2.7em;
}
.image_text_component_container {
    max-width: 357px;
    text-align: center;
}

.image_text_component_list {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 70px;
}
