.nav {
    max-width: 488px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0
}

.nav a {
    color: #000000;
}

.nav li {
    padding: 0 17px;
}

.item_menu {
    font-size: 0.9em;
}