@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

body {
    padding: 0 15px;
    width: 1440px;
    margin: 0 auto;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.max_width {
    max-width: 1440px;
    width: 100%;
}

.font_roboto_medium {
    font-family: Roboto-Medium, sans-serif;
}

#root {
    height: 100%;
    --bg-color: #6F1EAA;
    font-family: Roboto-Bold, serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}